body {
  position: absolute;
  height: 100%; }

.container_myGifOs {
  display: flex;
  flex-direction: column;
  margin-left: 100px; }
  .container_myGifOs .title_myGifOs {
    display: flex;
    align-items: center;
    background-color: #FFFAFE;
    width: 1200px;
    height: 32px;
    margin-bottom: 16px;
    padding-left: 7px;
    line-height: 18px;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    border: 1px solid #E6BBE2;
    box-sizing: border-box; }
  .container_myGifOs .content_myGifOs_boxes {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    width: 1216px; }
    .container_myGifOs .content_myGifOs_boxes .myGifOs_box {
      display: flex;
      position: relative;
      margin-bottom: 16px;
      margin-right: 16px;
      height: 298px;
      width: 288px;
      background-color: #E6E6E6; }
  .container_myGifOs .content_myGifOs_boxes.night {
    background-color: #110038; }

.container_myGifOs.night {
  background-color: #110038; }

.mygifos {
  color: #88799B; }
